html {
    background-color: #f3e5cf;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    overflow-x: hidden;
}

.Title {
    font-size: 4.5rem;
    position: relative;
    color: black;
    text-align: center;
    transform: translate(0rem, 15rem);
}

.AboutUs {
    position: relative;

    font-style: normal;
    font-weight: normal;
    font-size: 4.5rem;

    text-align: center;
    color: #000000;

    transform: rotate(-4.53deg)translate(-4rem, 50rem);
}

.AboutUsBorder {
    position: relative;
    width: 29rem;
    height: 14.5rem;
    
    background: #E4D5B6;
    border: 0.5rem solid #000000;
    box-sizing: border-box;
    border-radius: 50px;
    font-size: 2rem;
    transform: rotate(-4.25deg)translate(-3.5rem, 51.5rem);;
    text-align: center; 
}

.SampleItems {
    position: relative;

    font-style: normal;
    font-weight: normal;
    font-size: 4.5rem;

    text-align: center;
    color: #000000;

    transform: translate(0rem, 85rem);
}

.SampleItemsBorder{
    position: relative;
    width: 29.25rem;
    height: 33.5rem;
    
    background: #E4D5B6;
    border: 3.5px solid #000000;
    box-sizing: border-box;
    border-radius: 50px;

    transform: translate(0.1rem, 90rem)
}

.SampleItemsBox1 {
    position: relative;
    width: 6.5rem;
    height: 6.5rem;
    
    background: #C4C4C4;
    border: 0.1rem solid #000000;
    box-sizing: border-box;

    transform: translate(2rem, 59.5rem);
}

.SampleItemsBox2 {
    position: relative;
    width: 6.5rem;
    height: 6.5rem;
    
    background: #C4C4C4;
    border: 0.1rem solid #000000;
    box-sizing: border-box;

    transform: translate(11.5rem, 53rem);
}

.SampleItemsBox3 {
    position: relative;
    width: 6.5rem;
    height: 6.5rem;
    
    background: #C4C4C4;
    border: 0.1rem solid #000000;
    box-sizing: border-box;

    transform: translate(20.5rem, 46.5rem);
}
.SampleItemsBox4 {
    position: relative;
    width: 6.5rem;
    height: 6.5rem;
    
    background: #C4C4C4;
    border: 0.1rem solid #000000;
    box-sizing: border-box;

    transform: translate(2rem, 50rem);
}

.SampleItemsBox5 {
    position: relative;
    width: 6.5rem;
    height: 6.5rem;
    
    background: #C4C4C4;
    border: 0.1rem solid #000000;
    box-sizing: border-box;

    transform: translate(11.5rem, 43.5rem);
}

.SampleItemsBox6 {
    position: relative;
    width: 6.5rem;
    height: 6.5rem;
    
    background: #C4C4C4;
    border: 0.1rem solid #000000;
    box-sizing: border-box;

    transform: translate(20.5rem, 37rem);
}

.SampleItemsBox7 {
    position: relative;
    width: 6.5rem;
    height: 6.5rem;
    
    background: #C4C4C4;
    border: 0.1rem solid #000000;
    box-sizing: border-box;

    transform: translate(2rem, 40rem);
}

.SampleItemsBox8 {
    position: relative;
    width: 6.5rem;
    height: 6.5rem;
    
    background: #C4C4C4;
    border: 0.1rem solid #000000;
    box-sizing: border-box;

    transform: translate(11.5rem, 33.5rem);
}

.SampleItemsBox9 {
    position: relative;
    width: 6.5rem;
    height: 6.5rem;
    
    background: #C4C4C4;
    border: 0.1rem solid #000000;
    box-sizing: border-box;

    transform: translate(21rem, 27rem);
}

.CustomerComments {
    position: relative;

    font-style: normal;
    font-weight: normal;
    font-size: 4.5rem;

    text-align: center;
    color: #000000;

    transform: rotate(3.49deg)translate(3.5rem, 50rem);
}

.CustomerCommentsCircle1 {
    position: relative;
    width: 9rem;
    height: 9rem;
    
    background: #E4D5B6;
    border: 0.5rem solid #000000;
    box-sizing: border-box;
    border-radius: 25rem;
    transform: translate(-0.25rem, 51.5rem);
}

.CustomerCommentsCircle2 {
    position: relative;
    width: 9rem;
    height: 9rem;
    
    background: #E4D5B6;
    border: 0.5rem solid #000000;
    box-sizing: border-box;
    border-radius: 25rem;
    transform: rotate(3.78deg)translate(13rem, 42.5rem);;
}

.CustomerCommentsCircle3 {
    position: relative;
    width: 9rem;
    height: 9rem;
    
    background: #E4D5B6;
    border: 0.5rem solid #000000;
    box-sizing: border-box;
    border-radius: 25rem;
    transform: rotate(3.78deg)translate(22.5rem, 33.5rem);;
}
